<table cellspacing="10">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Course</th>
        <th>Phone No</th>
    </tr>
    {% for std in dispAll %}
    <tr>
        <th scope="row">{{ std.id }}</th>
        <td>{{ std.name }}</td>
        <td>{{ std.email }}</td>
        <td>{{ std.gender }}</td>
        <td>{{ std.course }}</td>
        <td>{{ std.phno }}</td>
        <td><a href="{% url 'delete' std.id %}">Delete</a></td>
        <td><a href="{% url 'update' std.id %}">Update</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'add' %}" class="btn btn-outline-primary">Add New Record</a>